<section class="section-1">

    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <div class="pray">
                    <img src="../assets/something.png" alt="test">
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel text-left">
                    <h1>Mustafa</h1>
                    <p class="pt-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime magnam consequuntur et quam rerum officia.
                    </p>
                    <p class="pt-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione tenetur provident iure, quam laborum impedit doloribus labore tempora nihil?
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>