<div style="margin: 0 20vw;">
    <h1>Address</h1>
    <h4>3 bedrooms | 2 Bathrooms | $500.000 | Listing #123456789</h4>
    <div style="display:flex">
        <div>
            <img src="assets/home.png" style="height:400px; width:400px" /><hr/>
            <div class="smallPics" style="display:flex">
                <img src="assets/home.png" style="height:100px; width:100px" />
                <img src="assets/home.png" style="height:100px; width:100px" />
                <img src="assets/home.png" style="height:100px; width:100px" />
                <img src="assets/home.png" style="height:100px; width:100px" />
            </div>
        </div>
        <div style="margin:10px">
            <h3>About the Propery</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet justo id est fermentum convallis.
                Nulla eu interdum ligula. Ut mattis in elit quis maximus. Nullam eget malesuada enim. Nunc non mattis odio.
                Cras tincidunt mollis dolor in mattis. Nam convallis, metus vitae varius efficitur, dolor mi hendrerit risus, a congue nisi neque ac ex.
                Aliquam pretium mauris lectus, vel consequat tortor dapibus ut.
            </p>
            <h3>Property Detail</h3>
            <ul>
                <li>Type: Detached</li>
                <li>Days Listed: 10</li>
                <li>Square Feet: 3500</li>
                <li>Property Tax: $17300</li>
            </ul>
        </div>
</div>

