<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Mustafa <span class="text-warning">Sajid</span></h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, debitis. Molestiae, labore?
                    Laudantium dolorem eveniet, exercitationem delectus eum soluta aut.
                </p>
            </div>
            <img class="img-fluid w-50" src="../assets/home.png" alt="" />
        </div>
    </div>
</section>


<section class="bg-primary text-light p-5">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">
                <!-- Maybe some text here -->
            </h3>
        </div>
    </div>
</section>

<!-- Boxes -->
<section class="p-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <h3 class="card-title mb-3">Virtual</h3>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Iure, quas quidem possimus dolorum esse eligendi?
                        </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-secondary text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-person-square"></i>
                        </div>
                        <h3 class="card-title mb-3">Hybrid</h3>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Iure, quas quidem possimus dolorum esse eligendi?
                        </p>
                        <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-people"></i>
                        </div>
                        <h3 class="card-title mb-3">In Person</h3>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Iure, quas quidem possimus dolorum esse eligendi?
                        </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="learn" class="p-5 bg-dark text-light">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2>How to sell your house?</h2>
                <p class="lead">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Similique deleniti possimus magnam corporis ratione facere!
                </p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
                    reiciendis eius autem eveniet mollitia, at asperiores suscipit
                    quae similique laboriosam iste minus placeat odit velit quos,
                    nulla architecto amet voluptates?
                </p>
                <a href="#" class="btn btn-light mt-3">
                    <i class="bi bi-chevron-right"></i> Read More
                </a>
            </div>
            <div class="col-md">
                <img src="img/react.svg" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
</section>

<!-- Contact & Map -->
<section class="p-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md">
                <h2 class="text-center mb-4">Contact Info</h2>
                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold">Address:</span> 999 Sheridan Street
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Phone:</span> (555) 555-5555
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Email:</span> mustafa.sajid@email.com
                    </li>
                    <li class="list-group-item">
                        
                    </li>
                </ul>
            </div>
            <div class="col-md">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
        <p class="lead">Copyright &copy; 2021</p>

        <a href="#" class="position-absolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
    </div>
</footer>
