<div class="container text-center">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <h1 style="padding-top: 10px">EXCITING ADVENTURE</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit asperiores minus facilis placeat totam autem mollitia nulla cumque ut quod!
            </p>
            <button class="btn btn-light px-5 py-2">Mustafa</button>
        </div>
        <div class="col-md-5 col-sm-12 h-25">
            <img src="../assets/home.png" class="img-fluid" alt="Responsive image" alt="Mustafa">
        </div>
    </div>
</div>
<app-body></app-body>
